{{ collections.all | eleventyNavigationBreadcrumb( eleventyNavigation.key ) | eleventyNavigationToHtml({ listClass:"breadcrumb small subtle", listItemClass:"breadcrumb", activeKey: "eleventyNavigation.key"}) | safe }}