<footer>
  <r-grid columns=8 columns-s=4>
    <r-cell span=6>
  {% include 'layouts/blocks/sign-up.njk' %}
    </r-cell>
    <r-cell span=2 >
      <h4>
        Thanks for stopping by!
      </h4>
      <a href="../">Home</a>
      <br>
      <a href="https://github.com/orgs/les-original/projects/2">Roadmap</a>
    </r-cell>
  </r-grid>
</footer>