<r-cell span=4 span-s=2>
  {% include 'layouts/blocks/sign-up.njk' %}
</r-cell>
<r-cell span="2" span-s="2">
  <div class="menu small">
    <p>
      Thanks for stopping by. Les Original is an open source experiment. We don't sell anything.
    </p>
    <a href="../">Home</a>
    <a href="https://github.com/orgs/les-original/projects/2">Roadmap</a>
  </div>
</r-cell>