<footer>
  <r-grid columns=8 columns-s=4>
    <r-cell span=4>
  {% include 'layouts/blocks/sign-up.njk' %}
    </r-cell>
    <r-cell span=4 >
      <h4>
        Thanks for stopping by!
      </h4>
    </r-cell>
  </r-grid>
</footer>