<!DOCTYPE html>
<html lang="en">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" href="/public/lesraster.css">
  <meta charset="utf-8" />
  <link rel="icon" href="https://cdn.glitch.com/5b0ae0a2-f9fe-4b67-afd8-1bd45dda286c%2Ffavicon.png?v=1626385284528" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Light goods and technical oddities for freaks in nature" />
  {% seo "" %}
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PV3Z2HFSY5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PV3Z2HFSY5');
  </script>
  <!-- Weglot language dropdown tag -->
  <link rel="alternate" hreflang="en" href="https://www.lesoriginal.com">
  <link rel="alternate" hreflang="de" href="https://de.lesoriginal.com">

  <script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
  <script>
      Weglot.initialize({
          api_key: 'wg_7a655f8e1aaf451e6732a7e2d057c9d68'
      });
  </script>
  
  <!-- Vercel Analytics -->
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
  
  </head>
  
  <body>
    <r-grid class="main" columns="6" columns-s="2">
    {% include 'layouts/blocks/header.njk' %}
      {{ content | safe }}
      <hr>
    {% include 'layouts/blocks/footer.njk' %}
   </r-grid>   
  </body>
</html>
