---
layout: layouts/base.njk
templateClass: tmpl-home
---


<body>
<div class="wrapper home">
  <r-grid columns=8 columns-s=4>
    <r-cell span=4 span-s=row>
      <h1>Light goods and technical oddities for freaks in nature.</h1>
      <a class="button" href="https://github.com/orgs/les-original/projects/2/views/4">GitHub Project</a>
    </r-cell>
  </r-grid>
  </div>
</body>
<br>
  <div class="content">
    {{ content | safe }}
  </div>
</div>


