---
layout: layouts/base.njk
templateClass: tmpl-home
---

{# The Home page uses this template–it extends the base template #}
<body>
<div class="wrapper home">
  <r-grid columns=8 columns-s=4>
    <r-cell span=2 span-s=row>
      <h1>MYO Notions</h1>
      <br>
        <p>Open-source sewing bits for textile makers, optimized for 3D printers. A project by <a href="https://lesoriginal.notion.site/LES-ORIGINAL-7e4c5a3d17e2429a836beedea3069562">Les Original Tourist Equipment</a></p>
        <a class="button" href="https://github.com/les-original/MYO-Notions/archive/refs/tags/v2.0.zip">Download</a>
        <a class="button" href="https://github.com/les-original/MYO-Notions">GitHub</a>
    </r-cell>
    <r-cell span=1-2 span-s=row>
      <h4>cord accessories</h4>
    </r-cell>
    <r-cell span=6>
      <ul>
      {%- for post in collections.cord accessories -%}
        <li{% if page.url == post.url %} aria-current="page"{% endif %}>
          <a href='{{ post.url }}'>{{ post.data.title }}</a>  — <i>Last updated {{ post.data.page.date | htmlDateString }}</i>
        </li>
      {%- endfor -%}
      </ul>    
    </r-cell>
    <r-cell span=1-2 span-s=row>
      <h4>webbing accessories</h4>
    </r-cell>
    <r-cell span=6>
      Some content here
    </r-cell>
    <r-cell span=1-2 span-s=row>
      <h4>other</h4>
    </r-cell>
    <r-cell span=6>
      Some content here
    </r-cell>
  </r-grid>
  
  </r-grid>
  
</body>



  <div class="content">
    {{ content | safe }}
  </div>
</div>


