---
layout: layouts/base.njk
templateClass: tmpl-home
---
<r-cell span=row>
    {% include 'layouts/blocks/breadcrumbs.njk' %}
</r-cell>
<r-cell span=row>
    <h2 class="big">
      {{description}}
    </h2>
</r-cell>
<r-cell span=6 span-s=2>
{{ content | safe }}
</r-cell>  